@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Raleway:ital,wght@0,400;0,500;0,600;1,400&display=swap');

$headerFont: 'Questrial', sans-serif;
$mainFont: 'Raleway', sans-serif;

$highlight2: #c1f5ff;
$highlight1: #eac6ff;
